<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nouvelle annonce</title>

    <div id="page-wrapper" class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Ajouter un membre</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <form action="#" th:action="@{/offer}" th:object="${offer}" method="post" id="addOfferForm">
                                    <div class="form-group">
                                        <label for="title">Titre</label>
                                        <input type="text" class="input-lg form-control" id="title"
                                               th:field="*{title}" placeholder="Title">
                                    </div>
                                    <div class="form-group">
                                        <label for="location">Location</label>
                                        <input type="text" id="location" class="input-lg form-control"
                                               th:field="*{location}" placeholder="Location">
                                    </div>
                                    <div class="form-group">
                                        <label for="surface">Surface</label>
                                        <input type="text" id="surface" class="input-lg form-control"
                                               th:field="*{surface}" placeholder="Surface">
                                    </div>
                                    <div class="form-group">
                                        <label for="sel1">Lits</label>
                                        <input type="number" id="" class="input-lg form-control"
                                               th:field="*{beds}" >
                                        <!--<select class="form-control" id="sel1" form="addOfferForm" th:field="*{beds}">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                            <option>11</option>
                                            <option>12</option>
                                            <option>13</option>
                                            <option>14</option>
                                            <option>15</option>
                                            <option>16</option>
                                            <option>17</option>
                                            <option>18</option>
                                            <option>19</option>
                                            <option>20</option>
                                            <option>20+</option>
                                        </select>-->
                                    </div>
                                    <div class="text-right">
                                        <button type="submit" class="btn btn-lg btn-primary">Enregistrer</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</head>
<body>

</body>
</html>