<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <script src="jquery.js"></script>
    <script>
        $(function(){
            $("#Header").load("header.html");
            $("#Footer").load("footer.html");
        });
    </script>
    <meta charset="UTF-8">
    <title>Nouvelle annonce</title>
</head>

<header th:replace="fragments/header :: header" ></header>

<body>
    <br><br><br><br><br><br>
    <div class="text-center hero-container">
        <h1 class="font-weight-bold">WELCOME TO HOMESWITCHOME</h1>
        <h2>La référence du site d'échange de maisons</h2>
        <h4 class="font-weight-light">Venez découvrir les offres d'échange de maison et publier la votre !</h4>
    </div>
</body>
</html>