<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:td="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <!-- Bootstrap CSS -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="../css/style.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        type="text/css">
</head>

<header th:replace="fragments/header :: header" ></header>
<body>

<div>
  <form method="get" action="/adduser">
    <button type="submit" class="btn btn-lg btn-primary">Ajouter utilisateur</button>
  </form>

</div>

  <div class="card-body text-left">

    <table class="table table-hover group table-striped">
  <tr>
    <td class="bg-danger">identifiant</td>
    <td class="bg-danger">Prénom</td>
    <td class="bg-danger">Nom</td>
      <td class="bg-danger"></td>

  </tr>
  <tr th:each="user : ${data}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.firstName}"></td>
      <td th:text="${user.lastName}"></td>
      <td><a th:href="@{'/user/'+${user.id}}" th:object="${user}" method="get">Voir profil</a></td>
  </tr>


    </table>
  </div>

<!-- jQuery -->
<script src="../js/jquery-3.1.1.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.min.js"></script>

</body>
</html>